/* SQUARED THREE */
.squaredThree {
  width: auto;
  margin: 20px 0px 20px 16px;
  position: relative;
  float: left;
  

  label {
    color: #eee;
    float: left;
    margin-right: pem(7); 
  }


  
}

