/** Main footer layout **/
footer[role='contentinfo'], .push {
    height: (($footer-height * 2) + $header-height + 40px); /* .push must be the same height as .footer */
}

footer[role='contentinfo'] {
    background-color: #333; 
    background-image: linear-gradient(to top, rgba(51,51,51,0) 0%,rgba(51,51,51,1) 100%), url(../img/patterns/6b.png);
    @include vendor('box-shadow', 0 1.5em 1em -1em rgba(0, 0, 0, 0.4) inset);
    .inner {
        max-width: $max-width;
        margin: auto;
        @include mod_rem("height", (($footer-height * 2) - 5px));
        @include mod_rem("padding-top", 10);
        background: linear-gradient(to bottom, rgba(34, 34, 34, 0) 0%, #222 100%) repeat scroll 0% 0% transparent;
        ul {
            //width: 100%;
            @include vendor('column-count', 2);
            li {
                list-style: none;
            }

            a {
                text-decoration: none;
                color: #ddd;
                &:hover {
                    color: #fff;
                    border-bottom: 1px dotted #fff;
                }
            }
        }

    }

    .copy {
        display: block;
        @include mod_rem("height", 90);
        background-color: #000;
        line-height: 1.5;
        text-align: center;
        color: #ddd;
        clear: both;
        a {
            color: #fff;
            font-weight: bold;
        }
    }

}


@include mq($from: phablet) {
    footer[role='contentinfo'] {
        .copy {
            @include mod_rem("padding-top", 10);
        }
    }
}

@include mq($from: tablet) {
    footer[role='contentinfo'], .push {
        height: $footer-height + $header-height; /* .push must be the same height as .footer */
    }

    footer[role='contentinfo'] {
        .inner {
            @include mod_rem("height", 205);

            ul {
                @include vendor('column-count', 4);
            }
        }
        .copy {
            @include mod_rem("height", 50);
            @include mod_rem("padding-top", 5);
        }
    }
}


