@if $use-container == true {
  //------------------------------------
  //  CONTAINER
  //------------------------------------
  .container { 
    width: 100%;
    margin: auto;
  }

  @include breakpoint(small) { .container { width: 700px; } }

  @include breakpoint(medium) { .container { width: 940px; } }

  @include breakpoint(large) { .container { width: 1080px; } }

  @include breakpoint(extra-large) { .container { width: 1140px; } }
}
