{% 
  set articles = [
    {'img': '/img/2014-11-10-bangladesh-590.jpg', 'title': 'Climate Caravan shows the way', 'teaser': 'Jarred Sferruzzi on a journey across Bangladesh, India and Nepal to build solidarity in the struggle for climate justice.', 'author': 'Jarred Sferruzzi', 'date': 'November 10, 2014', 'source': 'New Internationalist Blogs'},
    {'img': '/img/2014-11-07-india-alcohol-590.jpg', 'title': 'Title 2', 'teaser': 'blaa blaa blaa2', 'author': 'Jo Blogs', 'date': 'November 12, 2014', 'source': 'New Internationalist Blogs'}
  ]

%}
