/**
 ** NI Variables
 **
 *************************************/
$brand-primary: #a03c3c;
$bg-color: #f4f3f2;
$blog-color: #556e05;
$book-color: #d75a00;


/*  Fonts  */
$title-font: bold 15px/20px "Helvetica Neue",Arial,sans-serif;

$max-width: 1300px;

$footer-height: 210px;
$header-height: 45px;

$mq-breakpoints: mq-add-breakpoint(netbook, 900px);
