/**
 ** NI Variables
 **
 *************************************/
// Use develoment mode
$use-dev-mode: false;

$brand-primary: #a03c3c;
$bg-color: #fff; //#f4f3f2;
$blog-color: #556e05;
$book-color: #d75a00;


/*  Fonts  */
$title-font: bold 15px/20px "Raleway",Arial,sans-serif;
$h1-color: #333;


$max-width: 1300px;

$footer-height: 210px;
$header-height: 45px;


